force-app/main/default/flows/crear_candidato_boton.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>crear candidato boton {!$Flow.CurrentDateTime}</interviewLabel>
    <label>crear candidato boton</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crear_candidato</name>
        <label>crear candidato</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>actualizar_sesion</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>sesion.Correo_persona__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>sesion.nombre_persona__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sesion.Apellido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_habitaciones__c</field>
            <value>
                <elementReference>sesion.Categor_a__r.Cant_habitaciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proyecto_de_interes__c</field>
            <value>
                <elementReference>sesion.Categor_a__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ingresos__c</field>
            <value>
                <elementReference>sesion.Ingresos_solicitante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>proyecto_para_negocio__c</field>
            <value>
                <elementReference>sesion.Proyecto_para_negocio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>sesion</name>
        <label>sesion</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crear_candidato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sesionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizar_sesion</name>
        <label>actualizar sesion</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sesionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>crear_candidato</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sesion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sesionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
