force-app/main/default/flows/obtener_vis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asignar_proyectos</name>
        <label>asignar proyectos</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>proyectos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filtrar_por_zona_y_sector</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>filtrar_por_zona_y_sector</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filtrar por zona y sector</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_filtrar_por_zona_y_sector</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>obtener_proyectos</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filtrar_por_zona_y_sector.Zona__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>zona</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filtrar_por_zona_y_sector.Sector__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>sector</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filtrar_por_zona_y_sector.Aplica_subsidio__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>aplicasubsidio</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>asignar_proyectos</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>obtener vis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>obtener vis o vip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_proyectos</name>
        <label>obtener proyectos</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filtrar_por_zona_y_sector</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_proyectos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aplicasubsidio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_filtrar_por_zona_y_sector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCategory</objectType>
    </variables>
    <variables>
        <name>proyectos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductCategory</objectType>
    </variables>
    <variables>
        <name>sector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tipo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zona</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
